<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Board</title>
</head>
<body>
<div class="container">
    <div class="board" th:text="${boardName}"></div>
    <div class="post" th:each="article : ${articles}">
        <h2 class="post-title" th:text="${article.title}">제목</h2>
        <div class="post-metadata">
            <span th:text="${article.author_id()}">작성자 ID</span>
            <span th:text="${article.created_date}">날짜</span>
        </div>
        <div class="post-content" th:text="${article.content}">내용</div>
    </div>
</div>
</body>
</html>